<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>MI_SIKA</h3>
            <p>Construisez dès aujourd'hui un avenir sans
                regrets avec MI_SIKA ! Notre plateforme
                vous ouvre les portes d'une planification
                financière intelligente pour la retraite.
                Ne laissez pas le futur vous surprendre,
                anticipez et agissez en toute confiance
                grâce à nos simulations précises et
                personnalisées. Évitez les regrets
                de demain en prenant des décisions
                éclairées aujourd'hui. Rejoignez-nous
                pour un avenir financier serein et bien préparé !
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Tout nos liens</h4>
            <ul>
              <li><a href="#">Accueil</a></li>
              <li><a href="#">A propos</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Simulateur</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Nous Contacter</h4>
            <p>
              Abidjan <br>
              Cocody, Angree gestoci.
               
              <strong>Phone:</strong> +225 0758426942<br>
              <strong>Email:</strong> josiaskouassi98@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Notre Newsletter</h4>
            <p>Restez informé des meilleures opportunités financières ! Abonnez-vous à notre newsletter pour ne rien manquer et optimiser votre épargne retraite..</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Envoyer">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>MI_SIKA</strong>. Tous Droits Réservé
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
