{% extends 'base.html' %}

{% block content %}

<!-- ======= Section ======= -->
<section id="hero" class="clearfix">
    <div class="container" data-aos="fade-up">

      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{ url_for('static', filename = 'img/fond.jpg') }}" alt="" class="img-fluid">
      </div>

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>Des questions<br><span>sur votre</span><br>Retraite ?</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Commencer</a>
          <a href="#services" class="btn-services scrollto">Nos Services</a>
        </div>
      </div>

    </div>
  </section><!--  Hero Section -->

  <main id="main">

    <!-- =======  Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>A propos de Nous</h3>
          <p>une équipe dédiée au service de votre épargne retraite.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
                MI_SIKA, premier courtier conseil indépendant dédié à l’épargne retraite supplémentaire,
                a été créée en SEPTEMBRE 2023. Avec une double implantation à ABIDJAN, MI_SIKA
                a pour vocation d'étendre son activité dans toutes les régions du pays.
            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Prévoir les Événements Majeurs</a></h4>
              <p class="description">Anticipez et planifiez pour les moments cruciaux de la vie tels que l'achat d'une maison, les études des enfants, etc.
              </p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Réduire les Dettes et Optimiser les Gains</a></h4>
              <p class="description">Apprenez à économiser de manière stratégique en comprenant les différents véhicules d'épargne et d'investissement.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Épargner de Manière Intelligente</a></h4>
              <p class="description">Apprenez à économiser de manière stratégique en comprenant les différents véhicules d'épargne et d'investissement.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
            <img src="{{ url_for('static', filename = 'img/eper.jpg') }}" alt="" class="img-fluid">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{{ url_for('static', filename = 'img/exp1.jpg') }}" alt="" class="img-fluid"> <br><br>
            <img src="{{ url_for('static', filename = 'img/exp.jpg') }}" alt="" class="img-fluid">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
            <h4>Des experts pluridisciplinaires pour vous conseiller.</h4>
            <p>
                Convaincus de la force des réformes récentes, en particulier la
                loi Pacte de 2019, les fondateurs de MI_SIKA, forts de leur
                expérience de l’épargne et du conseil en investissements 
                financiers, ont réuni une équipe dédiée pour accompagner 
                clients particuliers et entreprises dans leurs démarches.
                Les chargés d’affaires, formés par My PENSION à l’épargne
                retraite, apportent leur proximité et leurs capacités d’
                écoute et de conseil.
            </p>
            <p>
                Les membres du conseil stratégique font bénéficier à
                MI_SIKA d’une expertise unique en matière d’analyse
                macroéconomique, de gestion d’actifs, de programmation
                d’outils digitaux de dernière génération et de structuration
                de plans d’épargne retraite.Les partenaires de MI_SIKA
                (assureurs, sociétés de gestion, agences web) partagent
                nos valeurs d’expertise, d’indépendance, d’innovation 
                et de transparence.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{{ url_for('static', filename = 'img/sm.jpg') }}" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
            <h4>Comment tout a Commencé.</h4>
            <p>
              Il était une fois, dans un monde où la tranquillité financière était le rêve de chacun, naquit MI_SIKA, une idée née de la passion de ses fondateurs pour l'indépendance financière et la sérénité à la retraite.            </p>
            <p>
              Un jour, après des années de recherche et d'expérimentation, elle rencontra Pierre, un expert en finance passionné par la mission d'autonomisation financière. Ils unirent leurs forces et créèrent MI_SIKA, une plateforme qui simplifie la planification de l'épargne retraite.            </p>
            <p>
              Leur objectif était clair : donner à chacun le pouvoir de prendre des décisions financières éclairées. Ils ont mis en place des simulateurs intuitifs et des conseils personnalisés, afin que chacun puisse visualiser son avenir financier et planifier sa retraite sereinement.
              Aujourd'hui, MI_SIKA a aidé des milliers de personnes à réaliser leurs rêves de retraite confortable. C'est une histoire d'engagement envers l'autonomie financière, d'innovation et d'impact positif sur la vie de chacun.
              Rejoignez-nous dans cette aventure vers un avenir financier prometteur !
            </p>
          </div>

        </div>

      </div>
    </section><!--  Apropos Section -->

    <!-- ======= Services  ======= -->
    <section id="services" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Services</h3>
          <p>LES services proposé pas MI_SIKA pour vour faciliter la vie </p>
        </header>

        <div class="row justify-content-center">

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Simulateur</a></h4>
              <p class="description">SIMULATEUR D'EPARGNE RETRAITE</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Orentation banquais</a></h4>
              <p class="description">ORIENTATION VERS UNE BANQUE DE CONFIENCE ET QUI OFFRE DES PROFIS FABULEUX</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-bar-chart" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Conseil client</a></h4>
              <p class="description">CONSEIL SUR L'EPARGNE RETRAITE PAR DES PARTENAIRE EXPERT DANS LE DOMAINE</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
                
              <div class="icon"><i class="fa-regular fa-piggy-bank" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href=""></a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- Services Section -->

    <!-- ======= Pouquois Nous Section ======= -->
    <section id="why-us">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Pouquois Nous?</h3>
          <p>
            </p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="100">
              <i class="bi bi-calendar4-week"></i>
              <div class="card-body">
                <h5 class="card-title">Précision et Personnalisation :</h5>
                <p class="card-text">Votre site offre des simulations d'épargne retraite
                    précises et hautement personnalisées. Grâce à des
                    algorithmes sophistiqués et une analyse approfondie,
                    il fournit des projections financières basées sur les
                    données spécifiques de chaque utilisateur, prenant en
                    compte divers paramètres tels que l'âge, le revenu 
                    actuel, les dépenses, les objectifs de retraite, 
                    etc. Les utilisateurs peuvent ainsi prendre des
                    décisions informées et adaptées à leur situation unique...</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="200">
              <i class="bi bi-camera-reels"></i>
              <div class="card-body">
                <h5 class="card-title">Facilité d'utilisation et Accessibilité :</h5>
                <p class="card-text">
                    Votre site propose une interface conviviale
                    et intuitive, rendant la simulation d'épargne
                    retraite accessible à tous, même à ceux qui ne
                    sont pas experts en finances. Les utilisateurs
                    peuvent facilement naviguer, saisir leurs données
                    et obtenir des résultats clairs et compréhensibles.
                    L'accessibilité de votre site sur différents appareils
                    (ordinateurs, tablettes, smartphones) en fait un
                    outil pratique et disponible à tout moment, où
                    que l'utilisateur se trouve..
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="300">
              <i class="bi bi-chat-square-text"></i>
              <div class="card-body">
                <h5 class="card-title">Conseils et Informations Précieuses :</h5>
                <p class="card-text">En plus des simulations, votre site offre
                    des conseils financiers avisés et des ressources éducatives
                    sur la planification de la retraite. Vous fournissez des
                    informations actualisées sur les régimes de retraite, les
                    avantages fiscaux, les investissements recommandés, et bien
                    plus encore. Les utilisateurs peuvent ainsi augmenter leur
                    compréhension des enjeux financiers liés à la retraite et
                    prendre des décisions judicieuses pour assurer leur avenir financier.. </p>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters" data-aos="fade-up" data-aos-delay="100">
        </div>

      </div>
    </section><!-- End  Section -->

    <!-- =======  Section ======= -->
    <section id="portfolio" class="clearfix">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title">Galerie</h3>
        </header>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="{{ url_for('static', filename = 'img/retrai_2.jpg') }}" alt="" class="img-fluid">
              <div class="portfolio-info">
                <div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
                <img src="{{ url_for('static', filename = 'img/retrai_4.jpg') }}" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="{{ url_for('static', filename = 'img/flop.jpg') }}" alt="" class="img-fluid">
              <div class="portfolio-info">
                <div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename = 'img/retrai_3.jpg') }}" alt="" class="img-fluid">
              <div class="portfolio-info">
                <div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
                <img src="{{ url_for('static', filename = 'img/blog-1.jpg') }}" alt="" class="img-fluid">
              <div class="portfolio-info">
                <div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="{{ url_for('static', filename = 'img/blog-4.jpg') }}" alt="" class="img-fluid">
              <div class="portfolio-info">
                <div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <div class="portfolio-info">
                <div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section><!-- End  Section -->

    <!-- =======  Section ======= -->
<section id="testimonials" class="section-bg">
    <div class="container" data-aos="zoom-in">
  
      <header class="section-header">
        <h3>Témoignage</h3>
      </header>
  
      <div class="row justify-content-center">
        <div class="col-lg-8">
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="{{ url_for('static', filename='img/josi.jpg') }}" alt="" class="testimonial-img">
                  <h3>tayler jim</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    Grâce à MI_SIKA, j'ai pu planifier efficacement mon épargne retraite. Les outils de simulation sont simples à utiliser et m'ont aidé à prendre des décisions éclairées pour mon avenir financier..
                  </p>
                </div>
              </div><!--  -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="{{ url_for('static', filename='img/testimonial-2.png') }}" alt="" class="testimonial-img">
                  <h3>Moko</h3>
                  <h4>Designer</h4>
                  <p>
                    L'expérience avec MI_SIKA a été incroyable. Le site offre une vision claire de la manière dont mon épargne retraite peut grandir avec le temps. Cela m'a donné confiance dans mes choix financiers.                  </p>
                </div>
              </div><!--  -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="{{ url_for('static', filename='img/testimonial-3.png') }}" alt="" class="testimonial-img">
                  <h3>Fred Kesse</h3>
                  <h4>Pdg de Fred_group</h4>
                  <p>
                    Les experts de MI_SIKA sont vraiment compétents et professionnels. Ils ont répondu à toutes mes questions et m'ont guidé à chaque étape de la planification de mon épargne retraite. Je recommande vivement leurs services.                  </p>
                </div>
              </div><!--  -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="{{ url_for('static', filename='img/testimonial-4.png') }}" alt="" class="testimonial-img">
                  <h3>Altesse</h3>
                  <h4>Freelancer</h4>
                  <p>
                    MI_SIKA a rendu la simulation d'épargne retraite simple et accessible. Les interfaces conviviales ont facilité la compréhension de l'impact de mes décisions financières à long terme. Je suis ravi d'avoir choisi MI_SIKA.                  </p>
                </div>
              </div><!--  -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="{{ url_for('static', filename='img/testimonial-5.png') }}" alt="" class="testimonial-img">
                  <h3>Merphy</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    Le simulateur de MI_SIKA est très précis et a pris en compte tous les paramètres importants pour mon épargne retraite. Cela m'a donné confiance dans mes choix financiers.                  </p>
                </div>
              </div><!--  -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </div>
  
    </div>
  </section><!-- End Section -->
  

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Equipe</h3>
          <p>Quelque visage de notre Equipe qui vous accompagne dans la planification de votre retraite.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
            <div class="member">
                <img src="{{ url_for('static', filename = 'img/josi.jpg') }}" alt="" class="img-fluid">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>jim Verlaine</h4>
                  <span>Chef d'Equipe</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
            <div class="member">
                <img src="{{ url_for('static', filename = 'img/testimonial-3.png') }}" alt="" class="img-fluid">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Kesse Fred</h4>
                  <span>Conseiller Principal</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="member">
                <img src="{{ url_for('static', filename = 'img/testimonial-4.png') }}" alt="" class="img-fluid">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Altesse</h4>
                  <span>Attacher de Presse</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="400">
            <div class="member">
                <img src="{{ url_for('static', filename = 'img/testimonial-5.png') }}" alt="" class="img-fluid">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Moko</h4>
                  <span>Gestionnaire</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Clients Section ======= -->
<section id="clients" class="section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>Nos Clients</h3>
        <p>Quelque habitueux de Nos locaux qui vivent une experience fabileuse avec MI_SIKA</p>
      </div>
      <div class="row g-0 clients-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-1.png') }}" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-2.png') }}" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-3.png') }}" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-4.png') }}" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-5.png') }}" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-6.png') }}" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-7.png') }}" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-8.png') }}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Clients Section -->
  

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h3>Nous Contacter</h3>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="bi bi-geo-alt"></i>
                <p>Abidjan, Cocody Angree gestoci</p>
              </div>
              <div class="col-md-4 info">
                <i class="bi bi-envelope"></i>
                <p>josiaskouassi98@gmail.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="bi bi-phone"></i>
                <p>+225 0758426943</p>
              </div>
            </div>

            <div class="form">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" required>
                  </div>
                  <div class="form-group col-lg-6 mt-3 mt-lg-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Chargement</div>
                  <div class="error-message"></div>
                  <div class="sent-message">votre mesage a été envoyer. Merci!</div>
                </div>
                <div class="text-center"><button type="submit" title="Envoyer Message">Envoyer Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  
  {% endblock content %}