{% extends 'base.html' %}

{% block content %}
    <header class="header-wrap alt-wrap">
        <div class="container">
        <h1 class="header-title">Simulateur d’épargne retraite sur un PER individuel</h1>
        </div>
    </header>

    <div class="Wrap_form">

        <div class="pres_1">
            <h2 class="form-title">Quel est votre statut professionnel actuel ? *</h2>
            <form class="cols">
                <div class="form-group">
                <label class="form-radio">
                <input type="radio" name="STAT_PRO" value="SAL">
                <span class="input-label">Salarié</span>
                </label>
                </div>
                <div class="form-group">
                <label class="form-radio">
                <input type="radio" name="STAT_PRO" value="TNS">
                <span class="input-label">Travailleur non salarié</span>
                </label>
                </div>
            </form>
            <div class="help-text"> * Champ obligatoire </div>
        </div>
        <div class="pres_2" >
            <h2 class="form-title">Quels sont vos revenus annuels d’activité et leur évolution probable?</h2>
            <form class="cols">
                <div class="form-group form-inline">
                <label class="row">
                <div class="col label-col">
                <span class="input-label">Vos revenus annuels d’activité 2023 (FCFA) *</span>
                </div>
                <div class="col">
                <div class="form-euro-group">
                <input class="form-control" type="number" name="REV_0" value="" placeholder="0">
                </div>
                </div>
                </label>
                </div>
                <div class="form-group form-inline form-multi-inline">
                <label class="row">
                <div class="col label-col">
                <span class="input-label">Progression annuelle estimée de vos revenus jusqu’à la retraite&nbsp;: *</span>
                </div>
                </label>
                <div class="row">
                <div class="col">
                <div class="form-group">
                <label class="form-radio">
                <input type="radio" name="TX_AUG_SAL" value="0">
                <span class="input-label">Nulle</span>
                </label>
                </div>
                </div>
                <div class="col">
                <div class="form-group">
                <label class="form-radio">
                <input type="radio" name="TX_AUG_SAL" value="1">
                <span class="input-label">Faible 1%</span>
                </label>
                </div>
                </div>
                <div class="col">
                <div class="form-group">
                <label class="form-radio">
                <input type="radio" name="TX_AUG_SAL" value="3">
                <span class="input-label">Moyenne 3%</span>
                </label>
                </div>
                </div>
                <div class="col">
                <div class="form-group">
                <label class="form-radio">
                <input type="radio" name="TX_AUG_SAL" value="5">
                <span class="input-label">Forte 5%</span>
                </label>
                </div>
                </div>
                <div class="col">
                <div class="form-group form-radio-input-group">
                <label class="form-radio">
                <input type="radio" name="TX_AUG_SAL" value="CUSTOM">
                <span class="input-label">Personnalisé</span>
                <input class="form-control" type="text" name="TX_AUG_SAL_CUSTOM" value="" placeholder="Entre -10% et 10%">
                </label>
                </div>
                </div>
                </div>
                </div>
            </form>
                <div class="help-text"> * Champ obligatoire </div>
        </div>
        <div class="pres_3" >
            <form class="cols">
                <div class="form-group form-inline">
                <label class="row">
                <div class="col label-col">
                <span class="input-label">Quel âge avez-vous aujourd'hui ? *</span>
                </div>
                <div class="col">
                <div class="form-age-group">
                <input class="form-control" type="number" name="AGE_0" value="" placeholder="0">
                </div>
                </div>
                </label>
                </div>
            </form>
            <div class="help-text"> * Champ obligatoire </div>
        </div>
        <div class="pres_4" >
            <h2 class="form-title">Comment et combien allez vous verser sur votre PER les années suivantes ?</h2>
            <form class="cols">
                <div class="form-group form-inline">
                <label class="form-radio">
                <div class="row">
                <div class="col label-col">
                <input type="radio" name="MOD_VERS" value="FIX">
                <span class="input-label">Versements fixes de *</span>
                </div>
                <div class="col">
                <div class="form-euro-group">
                <input class="form-control" type="number" name="VERS_ANN" value="" placeholder="0">
                </div>
                </div>
                </div>
                </label>
                </div>
                <div class="form-group form-inline">
                <label class="form-radio">
                <div class="row">
                <div class="col label-col">
                <input type="radio" name="MOD_VERS" value="PROP">
                <span class="input-label">Versements proportionnels au salaire de *</span>
                </div>
                <div class="col">
                <div class="form-percent-group">
                <input class="form-control" type="number" name="PERC_SAL" value="" placeholder="% du salaire">
                </div>
                <span class="perc-sal-error-message error-message"></span><br>
                <span class="perc-sal-calcul-message"></span>
                </div>
                </div>
                </label>
                </div>
            </form>
            <div class="help-text"> * Champ obligatoire </div>
        </div>
        <div class="pres_5" >
            <form class="cols">
                <div class="form-group form-inline">
                <label class="row">
                <div class="col label-col">
                <span class="input-label">Combien allez vous verser sur votre PER en 2023 ? *</span>
                </div>
                <div class="col">
                <div class="form-euro-group">
                <input class="form-control" type="number" name="VERS_0" value="" placeholder="0">
                </div>
                </div>
                </label>
                </div>
            </form>
            <div class="help-text"> * Champ obligatoire </div>
            <div class="col label-col">Vous pouvez indiquer un montant supérieur à votre plafond de l’année car vous pouvez avoir des plafonds antérieurs non utilisés. Le simulateur va calculer votre avantage fiscal en considérant le versement comme entièrement déductible.
            </div>
        </div>
        <div class="pres_6">
            <h2 class="form-title">
                A quel âge envisagez-vous de prendre votre retraite et liquider votre PER ?
            </h2>
                <div>
                <form class="result-form">
                <div class="row">
                <div class="col">
                <div class="result-info">Age envisagé de retraite : </div>
                </div>
                <div class="col col-range">
                <input class="form-range" name="AGE_END_SLIDE" type="range" min="62" value="65" max="75" step="1">
                </div>
                <div class="col">
                <div class="form-age-group">
                <input class="form-control" type="number" name="AGE_END" value="65" min="62" max="75" disabled="">
                </div>
                </div>
                </div>
            </form>
            <div class="help-text"> * Champ obligatoire </div>
        </div>
    </div>
        <div class="default-action F_6" >
            <button type="button" class="btn btn-secondary move">Envoyer</button>
        </div>
    </div>
</div>
{% endblock content %}